<ion-view title="Report Incident">
  <ion-content class="padding">
    <label class="item item-input">
  		<textarea name="message" rows="10" placeholder="Describe the incident here..." ng-model="data.message"></textarea>  		
	</label>
	<button type="submit" class="button button-block button-positive" ng-click="reportIncident(data)">REPORT NOW</button>
	<br><br>
	<i class="ion-location"></i>&nbsp; Note: Your current location will be sent alongwith the report. </h3>
  </ion-content>  
</ion-view>
