<ion-view title="PANICKSTER">
  <ion-content class="has-header padding">
      <div class="row">
          <div class="col">
              <button class="button button-block button-assertive">
                  PANIC
              </button>
          </div>
      </div>

      <div class="row">
          <div class="col col-50">
              REPORT INCIDENT
          </div>
          <div class="col col-50">
              HATE MAP
          </div>
      </div>

      <div class="row">
          <div class="col col-50">
              I NEED HELP
          </div>
          <div class="col col-50">
              GET MORE INFO
          </div>
      </div>

  </ion-content>
</ion-view>
