<ion-view title="For your information">
    <ion-content class="has-header padding">
        <div class="card">
            <div class="item item-divider">
                Hate crime
            </div>
            <div class="item item-text-wrap">
                Homophobic abuse is more common than most people think.
                <br>
                If you have been shouted at in the street and called derogatory names or if you have been beaten or robbed or had your property vandalised because of your sexual orientation, it could be classed as either a homophobic hate crime or homophobic hate incident.

            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                But what is the difference?
            </div>
            <div class="item item-text-wrap">
                Hate Crime
            <br>
                - any incident, which constitutes a criminal offence, perceived by the victim or any other person, as being motivated by prejudice or hate.
            <br>
            <br>
                Hate Incident
            <br>
                - any incident, which may or may not, constitute a criminal offence, perceived by the victim or any other person, as being motivated by prejudice or hate.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
              How to report and what to report?
            </div>
            <div class="item item-text-wrap">
              You can report homophobic hate crime in your area either online or by phone.
            <br>
              You may think that someone calling you names is no big deal, you may be used to it and have experienced it many times before but it is vital that you report any incident of homophobia.
            <br>
              If you do nothing, no one will know what has happened to you and nothing can be done about it. It also means that other people may receive the same or worse abuse.
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
              Important
            </div>
            <div class="item item-text-wrap">
              Recognising the crime or incident as homophobic when reporting it can help with sentencing at a later date if it is found that the homophobic element of the incident has aggravated the offence.
            <br>
              You can also call the LGF 10am-10pm every day for support and information.
            <br>
              Alternatively, you can report a crime online via your local police force’s website.
          </div>
        </div>

    </ion-content>
</ion-view>
