<ion-view title="Panic">
    <ion-content class="has-header padding">
        <div id="panic">
            <div class="emergency section">
                <h3> If you are in an emergency</h3>

                <a ng-href="tel: 999">
                    <button class="button button-block button-assertive">
                        call 999
                    </button>
                </a>

            </div>

            <div class="emergency section">
                <h3> Non emergency local police</h3>
                <a ng-href="tel: 101">
                    <button class="button button-block button-positive">
                        call 101
                    </button>
                </a>
            </div>

            <div class="emergency section">
                <h3> If you need Advice, Support or Information</h3>
                <a ng-href="tel: 08453303030">
                    <button class="button button-block button-calm">
                        call LGF
                    </button>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
