<ion-view title="Hate Crime">
    <ion-content class="has-header padding">
        <div class="card">
            <div class="item item-divider">
                Hate crime
            </div>
            <div class="item item-text-wrap">
                Homophobic abuse is more common than most people think.
            </div>
            <div class="item item-text-wrap">
                If you have been shouted at in the street and called derogatory names or if you have been beaten or robbed or had your property vandalised because of your sexual orientation, it could be classed as either a homophobic hate crime or homophobic hate incident.

            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                But what is the difference?
            </div>
            <div class="item item-text-wrap">
                Hate Crime

                - any incident, which constitutes a criminal offence, perceived by the victim or any other person, as being motivated by prejudice or hate.
            </div>
            <div class="item item-text-wrap">
                Hate Incident

                - any incident, which may or may not, constitute a criminal offence, perceived by the victim or any other person, as being motivated by prejudice or hate.
            </div>
        </div>
    </ion-content>
</ion-view>
