body {
    background-image: url("../img/blurredBlue.jpg") !important;
}

body.popup-open .scroll-content {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.popup {
    background-color: rgba(204, 204, 204, 0.8);
    color: white;
}

.tab-item {
    opacity: 0.6;
}

.popup .popup-title,
.popup .popup-sub-title {
    color: white;
}

ion-nav-bar.bar.bar-stable {
    background-color: #005878;
    color: #FFF;
    border-color: #FFF;
}

.has-tabs, .bar-footer.has-tabs {
    bottom: 53px;
}

.item.item-button-right,
.item.item-text-wrap,
div.card,
.item.item-divider {
    background-color: transparent;
    color: #FFF;
}

.item.item-divider {
    font-weight: bold;
}

label.item-input, textarea {
    background-color: transparent;
    color: #FFFFFF;
}

.scroll-content,
ion-tabs .tabs,
ion-view.pane {
    background: inherit;
    background-color: transparent !important;
    color: #FFF;
    border-color: #FFF;
}

.bar.bar-stable .title {
    color: #FFF;
}

.tabs {
    height: 53px;
    padding-top: 3px;
    border-color: #FFF;
}

#panic .section {
    padding-top: 5px;
    padding-bottom: 20px;
}

#panic h5 {
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}