body {
    background-image: url("../img/blurredBlue.jpg") !important;
}

ion-nav-bar.bar.bar-stable{
    background-color: #005878;
    color: #FFF;
    border-color: #FFF;
}

.has-tabs, .bar-footer.has-tabs {
    bottom: 53px;
}

.item.item-button-right,
.item.item-text-wrap,
div.card,
.item.item-divider{
    background-color: transparent;
    color: #FFF;
}

.item.item-divider {
    font-weight: bold;
}

label.item-input, textarea {
    background-color: transparent;
    color: #FFFFFF;
}

.scroll-content,
ion-tabs .tabs,
ion-view.pane {
    background: inherit;
    background-color: transparent !important;
    color: #FFF;
    border-color: #FFF;
}

.bar.bar-stable .title {
    color: #FFF;
}

.tabs {
    height: 53px;
    padding-top: 3px;
    border-color: #FFF;
}

#panic .section {
    padding-top: 5px;
    padding-bottom: 20px;
}

#panic h5 {
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}