body {
    background-image: url("../img/blurredBlue.jpg") !important;
}

ion-nav-bar.bar.bar-stable {
    background-color: #005878;
    color: #FFF;
    border-color: #FFF;
}
.has-tabs, .bar-footer.has-tabs {
    bottom: 53px;
}
.scroll-content,
ion-tabs .tabs,
ion-view.pane {
    /*background-color: #262626;*/
    background: inherit;
    background-color: transparent !important;
    color: #FFF;
    border-color: #FFF;
}

.bar.bar-stable .title {
    color: #FFF;
}

.tabs {
    height: 53px;
    padding-top: 3px;
    border-color: #FFF;
}

#panic .section {
    padding-top: 5px;
    padding-bottom: 20px;
}

#panic h5 {
    text-align: center;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}